@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 48px;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }
}
