@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 52px;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }

  .box-purple {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle at center, #9c4dcc 20%, transparent 50%),
      radial-gradient(
        circle at top right,
        #c774e8 15%,
        #6a1b9a 50%,
        #4a148c 65%
      );
    border-radius: 20%;
    position: relative;
    box-shadow: 0 0 1px #4a148c;
    filter: brightness(110%);
  }

  .box-blue {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle at center, #2196f3 20%, transparent 50%),
      radial-gradient(
        circle at top right,
        #6ec6ff 15%,
        #1976d2 50%,
        #0d47a1 65%
      );
    border-radius: 20%;
    position: relative;
    box-shadow: 0 0 1px #0d47a1;
    filter: brightness(110%);
  }

  .box-green {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle at center, #66bb6a 20%, transparent 50%),
      radial-gradient(
        circle at top right,
        #a5d6a7 15%,
        #388e3c 50%,
        #1b5e20 65%
      );
    border-radius: 20%;
    position: relative;
    box-shadow: 0 0 1px #1b5e20;
    filter: brightness(110%);
  }
  .box-red {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle at center, #ef5350 20%, transparent 50%),
      radial-gradient(
        circle at top right,
        #ff867c 15%,
        #d32f2f 50%,
        #b71c1c 65%
      );
    border-radius: 20%;
    position: relative;
    box-shadow: 0 0 1px #b71c1c;
    filter: brightness(110%);
  }
}
